body {
	background: #627bac;
	border: 1px solid #000000;
	padding: 0.5em 0.5em;
}
canvas { 
	background: #606060; 
	display: block;
	margin: 0 auto;
	outline: 2px solid #808080;
}
.button {
	color: #ffffff;
/*	width: 178px; */
	font-size: 24px;
	margin: 2px ;
	text-decoration: none;
	text-align: center;
	user-select: none;  
	background: rgb(212,75,56); 
	padding: 0.5em 1.0em; 
/*	outline: 2px solid #808080; */
	border-radius: 10px;
}
.button:hover  { background: rgb(232,95,76); } 
.button:active { background: rgb(152,15,0); } 

.buttons {
	margin: 0 auto;
	width: 480px;
	height: 80px;
	align-items: center;
	justify-content: center;
	display: flex;
}

.sc {
	height: 2em;
	width: 420px;
	font-size: 36px;
	margin: 0 auto;
	line-height: 2em;
	background: #2ac0ac;
	color: #fff;
	text-align: center;
	user-select: none;
	border-radius: 25px;
}
.sc2 {
	height: 2em;
	width: 420px;
	font-size: 36px;
	margin: 0 auto;
	line-height: 2em;
	background: #008000;
	color: #800000;
	text-align: center;
	user-select: none;
	border-radius: 25px;
}
.rules_text {
	margin: 0 auto;
	color: #000000;
	font-weight: 200;
	font-size: 20px;
	text-align: justify;
	width: 1024px;
}
h2 {
	text-align: center;
}
